---
title: Codejuro
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <script src="https://use.fontawesome.com/bebb4991cd.js"></script>
    <script
	src="https://code.jquery.com/jquery-3.1.0.slim.js"
	integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="
	crossorigin="anonymous"></script>
    <script src="flowtype.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Hind+Siliguri|Montserrat|Oswald" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/notosansbengaliui.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="grid">
      <div id="main" class="item expanded">
        <div class="inner">
          <div class="section-title">
            <img class="logo" alt="" src="/img/logo.svg"/>
            <div class="site-subtitle">Conjuring The Spirit Of Computer</div>
          </div>
          <div class="section-content">
            <div class="about">
              <p class="quote">"Talk is cheap. Show me the code." <span>- Linus Torvalds</span></p>
              <p>
                That is Exactly what we do. We code. <span class=keyword>Elegantly</span>, like sharp stroke of a paint brush, or a three-liner <span class=keyword>haiku</span>. We make things as <span class=keyword>state of art</span>. But, most importantly, we wish to do things exactly as <span class=keyword>you</span> need.
              </p>
              <p>We are a very <span class=keyword>tightly-knitted</span> group of <span class=keyword>Coders</span>, <span class=keyword>UX Designers</span> and <span class=keyword>Artists</span> who crave for <span class=keyword>quality</span> over everything. Our main technology stack is based upon <span class=keyword>Python</span> and <span class=keyword>Django</span> and latest of <span class=keyword>web technologies.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="team" class="item">
        <div class="inner" id="team">
          <div class="section-title">Team</div>
          <div class="section-content skew">
            <div class="team">
              {% for member in site.team %}
              {% if forloop.first == true %}
              <div class="profile prof-current">
                {% else %}
                <div class="profile">
                  {% endif %}
                  <div class="img-wrapper">
                    <img alt="" src="{{ member.pic }}"/>
                  </div>
                  <div class="title">{{ member.title }}</div>
                  <div class="subtitle">{{ member.position }}</div>
                  <div class="social">
                    {% for net in member.social %}
                    <a class="socicon" href="{{ net.url }}"><i class="fa fa-{{ net.title }}"></i></a>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
                <div class="team-slider">
                  <div class="tm-items">
                    {% for member in site.team %}
                    <div class="tm-item" onclick="currentDiv({{ forloop.index }})">
                      <div class="tm-item-title">{{ member.shortname }}</div>
                      <div class="tm-item-subtitle">{{ member.position }}</div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="tm-sld-nav tm-sld-nav-right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="portfolio" class="item">
          <div class="inner">
            <div class="section-title">Portfolio</div>
            <div class="section-content"><h1>Coming Soon...</h1></div>
          </div>
        </div>
        <div id="contact" class="item">
          <div class="inner">
            <div class="section-title">Contact</div>
            <div class="section-content">
              <div class="thanks-text"><p>Thanks for contacting us. We will contact you as soon as possible.</p><i class="fa fa-times" onclick="closeFunc()"></i></div>
              <form class="contact" name="sentMessage" id="contactForm" action="https://formspree.io/codejuro@gmail.com" method="POST" novalidate>
                <input type="hidden" name="_next" value="{{ site.url }}?success=1" />
                <input class="cinp" name="name" type="text" value="" placeholder="Name" required data-validation-required-message="Please enter your name."/>
                <input class="cinp" name="email" type="email" value="" placeholder="Email Address"
                       required data-validation-required-message="Please enter your email."/>
                <input class="cinp" name="contact-no" type="text" value="" placeholder="Contact Number(Optional)"/>
                <textarea class="cinp" name="body" placeholder="Please let us know what you want to say." required data-validation-required-message="Please say something."></textarea>
                <input class="cinp submit" type="submit" value="Send">
              </form>
            </div>
          </div>
        </div>
        <script>
         $('.item').click(function(e){
           $('.item').removeClass('expanded');
           $(this).addClass('expanded');
         });
        </script>
        <script>
         var slideIndex = 0;
         carousel();

         function currentDiv(n) {
           showDivs(slideIndex = n);
         }
         
         function showDivs(n) {
           var i;
           var x = document.getElementsByClassName("profile");
           var dots = document.getElementsByClassName("tm-item");
           if (n > x.length) {slideIndex = 1}
           if (n < 1) {slideIndex = x.length}
           for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
           }
           for (i = 0; i < dots.length; i++) {
             dots[i].className = dots[i].className.replace(" tm-item-selected", "");

           }
           x[slideIndex-1].style.display = "flex";
           dots[slideIndex-1].className += " tm-item-selected";
         };

         function carousel() {
           showDivs(slideIndex += 1);
           setTimeout(carousel, 10000);
         }

         $(function() {
           if(window.location.hash){
             window.location.href = window.location.href.replace(/#.*/,'');
           };
         });

         function getParameterByName(name, url) {
           if (!url) url = window.location.href;
           name = name.replace(/[\[\]]/g, "\\$&");
           var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
               results = regex.exec(url);
           if (!results) return null;
           if (!results[2]) return '';
           return decodeURIComponent(results[2].replace(/\+/g, " "));
         }

         if (getParameterByName('success') == "1") {
           $('.item').removeClass('expanded');
           $('#contact').addClass('expanded');
           $('.thanks-text').css({"display": "flex"});
         }

         function closeFunc(e) {
             $('.thanks-text').css({"display": "none"});
         }
        </script>
  </body>
</html>
