<head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <link href="/styles.css" rel="stylesheet"/>
    <script
	src="https://code.jquery.com/jquery-3.1.0.slim.js"
	integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="
	crossorigin="anonymous"></script>
    <script src="flowtype.js"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Hind+Siliguri|Montserrat|Oswald" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/notosansbengaliui.css" rel="stylesheet"/>
</head>
